@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Micro+5&family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
  --text: #ffffff;
  --subtitle: #d9bdc8;
  --highlight: #fcef8d;
  --green: #aee2ff;
  --recipe-bg: #1f102a;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: Micro 5;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

#sound-toggle {
  position: fixed;
  top: 22px;
  right: 22px;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  height: 100%;
}

body {
    image-rendering: pixelated;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    font-family: 'Micro 5', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    background-color: #1f102a;
}

.main-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-window-background {
    position: absolute;
    z-index: -1;
}

.main-window-title {
   margin-top: 58px;
   cursor: pointer;
}

.dock {
    position: relative;
    display: flex;
    flex-direction: row;    
    gap: 16px;
    padding: 125px;
    height: 0;
}

.main-window-description{
    color: var(--subtitle);
    font-size: 26px;
    text-shadow: 3px 3px 0px #873555;
    display: inline;
    width: fit-content;
}

.main-window-description:hover{
  color: var(--highlight);
}

.main-window-description-title {
    margin-top: 8px;
    color: var(--text);
    font-size: 40px;
    text-shadow: 4px 4px 0px #873555
}

.window {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 460px;
}

.window-background {
    position: absolute;
    z-index: -1;
}

.window-title {
    margin-top: 40px;
    margin-left: 45px;
}

.window-description{
    margin-left: 45px;
    color: var(--subtitle);
    font-size: 26px;
    text-shadow: 3px 3px 0px #873555;
    padding-bottom: 8px;
}

.window-description-title {
    margin-left: 45px;
    color: var(--text);
    font-size: 35px;
    text-shadow: 4px 4px 0px #873555
}

.close-button {
    position: absolute;
    margin-top: 8px;
    margin-left: 491px;
}

.is-link {
  color: var(--text);
  font-size: 36px;
  text-decoration: none;
}

.is-link:hover{
  color: var(--highlight);
}
.username {
  width: fit-content;
}
.username:hover {
  color: var(--highlight);
}

.username.copied {
  color: var(--green);
}

.pp-modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.226);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  pointer-events: auto;
}

.pp-modal-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 75vw;
  max-height: 75vh;
  padding: 8px;
  box-sizing: border-box;
}

.pp-recipe-inner {
  background-image: url("textures/recipe.png");
  text-shadow: 3px 3px 0px #873555;
  padding: 20px;
}

.pp-recipe-close-btn, .pp-modal-close-btn {
  position: absolute;
  top: 8px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.pp-modal-close-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(20,24,46,0.35);
  right: 8px;
}

.pp-recipe-download-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 10px auto 16px;
  display: block;
}

.pp-modal-img {
  max-width: 75vw;
  max-height: calc(75vh - 16px);
  object-fit: contain;
  display: block;
  box-shadow: 0 8px 30px rgba(20,24,46,0.5);
  user-select: none;
  -webkit-user-drag: none;
}

.projects-button:hover, .links-button:hover, .support-button:hover, .mc-skin-button:hover, .discord-button:hover{
  cursor: pointer;
}

.pp-modal-close-btn img, .pp-modal-arrow img {
  display: block;
  width: 100%;
  height: auto;
  user-select: none;
  pointer-events: none;
}

body.pp-modal-open {
  overflow: hidden;
}

.project-image-buttons {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 8px;
}

.project-image-buttons button {
  font-family: 'Micro 5', sans-serif;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: 36px; 
  color: var(--text);
  text-shadow: 3px 3px 0px #873555;
  text-decoration: none;
  display: inline;
  width: fit-content;
  line-height: 30px;
}

.project-image-buttons button:hover{
  color: var(--highlight);
}

.pp-modal-arrow {
  position: relative;
  height: auto;
  display: block;
  align-items: center;
  padding: 4px;
  border-radius: 6px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.pp-modal-prev {
  left: 125px;
}

.pp-modal-next {
  right: 125px;
}